<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kuguş_digiligi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <kuguş_digiligi.Properties.Settings>
            <setting name="otomatikYapistir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enterTusuOnaylar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="kopyalandiBildirisi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="otoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="arkaplanRenk" serializeAs="String">
                <value>DeepSkyBlue</value>
            </setting>
        </kuguş_digiligi.Properties.Settings>
    </userSettings>
</configuration>